body {
  margin: 0;
  padding: 0;
}

.snake-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.desk {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.desk-item {
  display: flex;
}

.desk-cell {
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.btn-start {
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px 15px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.3s;
}

.btn-start:hover {
  background-color: #233651;
  color: #fff;
  transition: all 0.3s;
}

.apple {
  background-color: rgb(176, 13, 13);
}

.snake {
  background-color: #2b8240;
}

.popup-container {
  backdrop-filter: blur(4px);
  background-color: #a9a9a9;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup {
  background-color: #fff;
  width: 45%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  border-radius: 10px;
}

.text-popup {
  font-size: 1rem;
  letter-spacing: 1px;
}

.text-popup + .text-popup {
  margin-top: 15px;
}

.inactive {
  display: none;
}

.score-block {
  display: block;
}
